.dates{
    text-align: center;
    padding-top: 10px;
}

/* text editor*/
.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 282px;
}

/* picked date align */
.rs-picker-default .rs-picker-toggle {
    position: relative;
    z-index: 5;
    padding-right: 67px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    color: #575757;
    border: 1px solid #e5e5ea;
    padding-left: 44px;
}
/* calander align */
.rs-picker-toggle-caret {
    display: inline-block;
    margin-right: 240px;
    position: absolute;
    top: 8px;
    right: 12px;
    font-weight: normal;
    color: #8e8e93;
}

/* ok button style */
.rs-picker-toolbar-right-btn-ok { 
    text-align: center; 
    cursor: pointer;
    outline: 0 ; 
    border: none; 
    padding: 8px 12px; 
    font-size: 14px; 
    border-radius: 30px;
    color: #fff;
    background-color: #3498ff;
    width: 100px;
}

/* range style */
.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
    padding-left: 0;
    padding-right: 0;
    border-radius: 21px;
    display: inline-block;
}

.wrappers {
    width: 100%;
    margin: auto;
  }
  header {
    background: linear-gradient(rgba(29, 28, 28, 0.616), rgba(0, 0, 0, 0.8)), url(one.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: auto;
  }
  .nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
  }
  .nav-area li {
    display: inline-block;
  }
  .nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
  }
  .nav-area li a:hover {
    background: #fff;
    color: #333;
  }
  .logo {
    float: left;
  }
  .logo img {
    width: 100%;
    padding: 15px 0;
  }
  .welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
  }
  .welcome-text h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
  }
  .welcome-text h1 span {
    color: #00fecb;
  }
  .welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
  }
  .welcome-text a:hover {
    background: #fff;
    color: #333;
  }
  /*resposive*/

  .Ddr {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  label {
    width: 350px;
    box-sizing: border-box;
  }
  
  @media (max-width:600px) {
    .wrappers {
      width: 100%;
    }
    .logo {
      float: none;
      width: 50%;
      text-align: center;
      margin: auto;
    }
    
    .nav-area {
      float: none;
      margin-top: 0;
    }
    .nav-area li a {
      padding: 5px;
      font-size: 11px;
    }
    .nav-area {
      text-align: center;
    }
    .welcome-text {
      width: 100%;
      height: auto;
      margin: 30% 0;
    }
    .welcome-text h1 {
      font-size: 30px;
    }
  }