.adv-pub-com-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 80vh;
    background-color: black;
}
.adv-pub-com-container-wrapper{
    align-items: center!important;
    justify-content: space-between!important;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    height: 80vh;
    width: 100%;
    position: relative;
}
.adv-pub-detail{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    height: 80vh;
    background-color: blue;
    display: flex;
}
.adv-pub-detail-wrapper{
    height: 40vh;
}
.adv-pub-img-container{
    height: 80vh;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: aquamarine;
}
#adv-pub-cont-column{
    width: 50%;
    float:left;
    display: flex;
    height: 100vh;
    position: relative;
}
@media (min-width: 576px){
.adv-pub-com-container {
    max-width: 540px;
}
}
@media (min-width: 992px){
.mb-lg-0 {
    margin-bottom: 0!important;
}
.col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
}