.adv-land-map-section{
    position: relative;
    height: 500px;
    width: 80%;
    overflow: hidden;
    left: 150px;
    top: 80px;
}
.adv-land-overly-wrapper{
    position: relative;
    height: 100%;
    
}
.adv-land-wrap{
    overflow: hidden;
    display: inline-flex;
}
.adv-land-content{
    box-sizing: border-box;
}
.adv-land-map-overly{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    
}
.adv-land-text-spacing{
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: whitesmoke;
}
.adv-land-img{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.adv-land-desc-para{
    color: whitesmoke;
    font-family: "Lucida Console", "Courier New", monospace;
}
@media screen and (min-width: 600px) {
    .adv-land-img Image {
      width: 50%;
      height: 500%;
    }
  }

  .adv-land-button{
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer; 
    position: absolute;
    font-family: "Lucida Console", "Courier New", monospace;
}
  