.adv-pub-main-container{
    height: 250px;
    position: relative;
    padding: 20px;
    }
    .adv-pub-main-container-img{
        height: 300px;
        position: relative;
        padding: 20px;
    }
   #adv-pub-row  ::after{
    content: "";
    display: table;
    clear: both;
   } 
   
   #adv-pub-col{
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
   }
   .adv-pub-palette-1{
    color: white;
    background-color: #74b9ff;
}

.adv-pub-palette-2{
    color: white;
    background-color: #1B9CFC;
}
.adv-pub-palette-3{
    color: white;
    background-color: #0984e3;
}

.adv-pub-palette-4{
    color: white;
    background-color: #182C61;
}
.adv-pub-content-box{
  
    position: relative;
    text-align: center;
    
    border-radius: 50px !important;
    height: 150px;
    align-self: center;
    
   
}
.adv-pub-text{
    font-weight: 400;
    font-size: 1.125rem;
    margin: 20px 0 0;
    color: white;   
}
.adv-pub-text-container{
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}
.adv-pub-img-1{
    width: 300px;
    height: 300px;
    margin-top: -27px;
    position: relative;
    margin-left: 0%;
    background-position: 50% 50%;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -10px 103px 20px 500px;
}
.adv-pub-heading{
    align-self: center;
    margin-top: -100px;
}
.adv-pub-heading-1  {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: rgb(4, 4, 4);
  text-transform: uppercase;
  animation: adv-pub-heading-1 1.5s infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  font-size: 50px;
}
@keyframes adv-pub-heading-1 {
    0% {
        opacity: 0;
        transform: translateY(80%);
      }
      20% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: translateY(0%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
}
   @media screen and (max-width: 600px) {
    .adv-pub-content-box{
        border-radius: 20px !important;   
    }
    .adv-pub-text{
        font-weight: 200;
        font-size: 0.9rem;
        margin: 20px 0 0;
    }
    .adv-pub-img-1{
        width: 200px;
        height: 200px; 
        margin: -80px 103px 20px 100px;
        position: relative;
        visibility:hidden;
    }
   }
  