.social-media-link-block:first-child {
    margin-left: 20px;
}

.fa .social-link {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #0d6efd;
    text-decoration: none;
}
.social-title-bar{
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    background-color:  white;
    color: grey;
}

.social-media-link-block{
    margin-left: 20px;
    margin-right: 20px;
}